<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-07-09T08:02:31Z</date>
	<key>WorkspacePath</key>
	<string>/Users/MacW/Desktop/逻辑教育/视觉班/05 学员资源4/02 胖C源码/000--绘制甜甜圈/01 OpenGL 环境搭建/01 OpenGL 环境搭建.xcodeproj</string>
</dict>
</plist>
